@import 'variables';
@import 'mixins';
@import 'mobile';


* {
    box-sizing: border-box;
}

body {
	@include background;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: 1.5;
	overflow: hidden;
}

// headings

h1,
h2 {
	font-weight: 400;
	color: white;

	&.lg-heading {
		font-size: 3rem;
		
		span {
			color: $secundary-color;
		}
	}

	&.sm-heading {
		width: 50%;
		font-size: 1.2rem;
		margin-bottom: 1.5rem;
		background: lighten($primary-color, 3)
	}

}

//links
a {
	padding:0.4rem;
	color: #fff;
	text-decoration: none !important;
	&:hover {
		@include easyOut();
	}
}
//header 

 header {
	 position: fixed;
	 top: 0;
	 z-index: 2;
	 width: $primary-size;
 }


main {
	margin-left: 6rem;
	padding: 4rem; 
	height: $primary-size;
	width: $primary-size;

	&.home {
		overflow: hidden;
		margin-top: 20vh;	
	
		.container-main {
			width: $primary-size;
			height: $primary-size;
		}
	}
}


