
@mixin background {
	background: $home-image;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;


	&:after {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		width: $primary-size;
		height: $primary-size;
		background-color: rgba($primary-color, $background-opacity);
		z-index: -1;
	}
}

@mixin easyOut {
	color: $secundary-color;
	transition: all 0.5s ease-out;
}

@mixin rowFlex {
	display: flex;
	justify-content: space-between;
}

@mixin colFlex {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

@mixin menu {
	font-size: 1rem;
	font-weight: 600;
	padding: 0.8rem 0 0 0;
	text-transform: uppercase;
}

//about

@mixin aboutText {
	font-weight: 400;
	color: $color-text;
}

@mixin grid {
	display: grid;
	grid-template-areas: $template;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 15px;
}

// Media Query

@mixin Sm {
	@media screen and(max-width: 576px) {
		@content;
	}
	
}

@mixin Md {
	@media screen and(max-width: 768px) {
		@content;
	}
	
}


