// //WideScreen

// @include mediaLG {
  
// }

// //MediumScreen

// @include mediaMd {
  
// }

//SmallScreen

@include Sm {
  h1.lg-heading {
    font-size: 8.3vw;
  }
  
}

@include Md {
  main {
    @include rowFlex;
    text-align: center;
    margin-left: 0; 
  }

  .container-main {
    @include colFlex;
  }
}

