$primary-color: #444;
$secundary-color: #bada55;
$color-text: #fff;

//size

$primary-size: 100%;

//background img

$home-image: url(https://cdn.pixabay.com/photo/2016/03/26/13/09/notebook-1280538_960_720.jpg);
$background-opacity: 0.7;

$template:
'img bio bio'
'job1 job2 job3';
